@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
.App {
  margin: 0 auto;
  background-color: transparent;
}

.bg{
  background-image: url(assets/images/bg.png);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1302px;
  margin: 0 auto;
  @media (max-width: 1302px) {
  padding-left: 20px;
  height: calc(100% - 20px) ;
  overflow: hidden;
}
}

.body {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
@media (max-width: 1302px) {
  display: flex;
  flex-direction: column;
}
}

.logo{
padding-top: 76px;
height: 70px;
}

.left{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  /* justify-content: space-evenly; */
}

.img{
display: flex;
justify-content: center;
@media (max-width: 1440px) {
  display: flex;
  flex-direction: column;
}
}

.title{
padding-top: 40px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 94%;
letter-spacing: -0.41px;
color: #1F294A;
}
.title > p {
  margin: 0;
}

.text{
padding-top: 52px;
padding-bottom: 41px;
width: 500px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
letter-spacing: -0.41px;
color: #1F294A;
}
.text > p {
  margin: 0;
}

.download_btn{
  cursor: pointer;
opacity: 0.59;
border: none;
background-color: transparent;
}

.text_under_btn{
  padding-top: 16px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 31px;
letter-spacing: -0.41px;
color: rgba(31, 41, 74, 0.5);
}

.footer{
  padding-top: 71.64px;
  padding-bottom: 58px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    gap: 16px
  }
}

.footer_text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
letter-spacing: -0.41px;
color: #1F294A;
}

.social{
  gap: 16px;
padding-right: 95px;
display: flex;
}

.icon{
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}